@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');

/* General body styling */

body {
    font-family: Montserrat;
    font-weight: 700;
    
}

/************************ header and navbar */

header {
    padding-bottom: 40px;
}

#nav-title {
    letter-spacing: 6px;

}

.nav-link:hover {
    font-size: larger;
    color: blue;
}

.navbar-brand:hover {
    font-size: 1.5rem;
}

#nav-title:hover {
    font-size: 4.7rem;
    letter-spacing: 7px;
}

/************************ buttons */
.green-box {
    background-color: rgb(187, 223, 205, 0.7);
    padding-bottom: 40px;
}

/************************ buttons */

.btn:hover {
    font-size: 1.1rem;
    font-weight: bolder;
}

/************************ hyperlinks styling */

.black-text {
    color: #444;
    text-decoration: none;
}


.link-feature:hover {
    font-size: 2.2rem;
}

.btn-signup {
    background-color: rgb(135, 189, 163);
}



