@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');

body {
    font-family: Montserrat;
    font-weight: 500;
  
}

#nav-title {
    letter-spacing: 6px;

}



.btn-signup {
    background-color: rgb(135, 189, 163);
}

