@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

/********************* General styling */

body {
    font-family: Montserrat;
    font-weight: 400;

}

.flex{
    display: flex;
}

.padding-sides {
    padding-left: 20px;
    padding-right: 20px;
}

.margin-top-bottom-50 {
    margin: 50px auto;
}

.margin-top-20 {
    margin-top: 20px;
}

.gap {
    gap: 20px;
    justify-content: flex-end;
    margin-right: 0px;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    height: 3px !important;
    color: #4f6273;
}

/************************ Title/subtitle types */

h2 {
    text-transform: uppercase;
    font-size: 20px;
}

.italic-light {
    font-style: italic;
    font-weight: 300;
    letter-spacing: .3px;
    color: #6c757d !important;
}

.subtitle {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 22px;
    color: #4f6273;
}

.subtitle-2 {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.light-banner {
    background-color: #4f6173;
    color: white;
    padding: 20px 0;
}

.light-banner i {
    color: white;
    margin-left: 10px;
}

.light-banner i:hover {
    color: rgba(255, 255, 255, 0.559);
}

/************************ NAV BAR */

#nav-logo {
    background-color: #f9f9f9;
}

#nav-title {
    font-size: 40px;
    font-weight: 300;
    color: #212529;
}

.bg-dark {
    background-color: black !important;
}

/************************ Recipe Cards */

.card {
    border: none;
}

.card-body {
    box-shadow: 0 0 15px -3px rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 2rem 2rem;
}

.mini-card {
    overflow: hidden;
    padding: 0;
    height: 480px;
}

.card-title:hover {
    color: #000000a1 !important;
}

.recipe-likes i:hover {
    color: black;
}

.card-img,
.card-img-bottom,
.card-img-top {
    object-fit: cover;
    height: 300px;
    margin-bottom: 20px;
}

.author {
    text-transform: capitalize;
}

.recipe-likes {
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #6c757d !important;
    display: flex;
    gap: 10px;
}

.card-icons {
    color: #6c757d !important;
}

.card-body .fa-edit:hover{
    color: #000000a1 !important;
}

/************************ buttons */
.green-box {
    background-color: white;
    padding-bottom: 40px;
}

/************************ buttons */

.btn-signup {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
    text-transform: uppercase;
}

.btn-dark:hover,
.btn-signup:hover {
    color: white;
    background-color: #4f6173;
    border: #4f6173;
}

.btn:hover {
    font-weight: bolder;
}

.btn-danger a {
    text-transform: uppercase;
    color: white;
}


/************************ Recipe details styling */
.recipe-title {
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
}

.card-460 {
    height: 460px;
}

.btn-like,
.btn-fave {
    border: none;
    background-color: white;
}

.masthead-image>img {
    max-width: 100%;
}

.bold {
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
}

.delete-box {
    margin-top: 20px;
}

.delete-box h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/************************ Comments Section */

/************************ Comments FORM */
#div_id_body label {
    display: none;
}

/************************ Edit Recipe Page */
.form-recipe label {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 16px;
    color: #4f6273;
    margin-right: 10px;
}

.form-recipe input {
    width: 100%;
}

/************************ Login Logout Page */
.login.form-recipe input {
    width: auto;
}

/************************ MEDIA QUERIES */
@media (max-width: 765px) {
    .mini-card {
        width: 90vw;
        margin: 0 auto;
    }
    .recipe-likes {
        right: 6vw;
        gap: 15px;
    }

    .no-card-mobile{
        box-shadow: 0 0 15px -3px transparent;
    }

}

