{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
{% if user.id == recipe.author.id %}
<div class="card">
    <h1 class="card-header">Delete your Recipe: </h1>
    <div class="card-body">
        <h3 class="card-title">Delete: {{ recipe.title }}</h3>


        <form method="POST" class="card-text">
            {% csrf_token %}
            <strong>Are you sure you would like to delete your Recipe?</strong>
            </br>
            </br>
            <button class="btn btn-danger">DELETE RECIPE</button>
        </form>
        {% else %}
        <p>Page not authorized!</p>
        {% endif %}
        {% else %}
        <p>Page not authorized!</p>
        {% endif %}
    </div>
</div>

{% endblock %}