{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="light-banner">
        <h1 class="post-title recipe-title text-center"> {{ recipe.title }}
            {% if user.is_authenticated %}
            {% if user.id == recipe.author.id %}
            <small><span><a href="{% url 'update_recipe' recipe.pk %}"><i class="fas fa-edit"></i></a></span></small>
            {% endif %}
            {% endif %}
        </h1>
        <div class="padding-sides text-center">
            <p class="author"><span class="subtitle-2">CATEGORY</span>: {{ recipe.category }}</p>
        </div>
    </div>
    <div class="container margin-top-bottom-50">
        <div class="row g-0">
            <!--Recipe Img --------------------------------------------------------->
            <div class="d-none d-md-block col-md-6 masthead-image card-body mini-card card-460">
                {% if "placeholder" in recipe.image.url %}
                <div class="image-container">
                    <img class="card-img-top"
                        src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/recipe_writing_700-94d33d1.jpg?resize=960,872?quality=90&webp=true&resize=300,272"
                        alt="Image of recipe">
                </div>
                {% else %}
                <div class="image-container">
                    <img class="card-img-top" src="{{ recipe.image.url }}" alt="Image of Recipe">
                </div>
                {% endif %}
                <!--Recipe details --------------------------------------------------------->
                <div class="padding-sides">
                    <p class="author"><span class="subtitle-2">CREATED BY</span>: {{ recipe.author }}</p>
                </div>
                <p class="post-subtitle padding-sides italic-light">{{ recipe.created_on }}</p>
                <div class="row padding-sides gap">
                    <div class="col-1">
                        {% if user.is_authenticated %}
                        <form method="POST" class="d-inline" action="{% url 'recipe_like' recipe.slug %}">
                            {% csrf_token %}
                            {% if liked %}
                            <button type="submit" name="recipepost_id" value="{{recipe.slug}}" class="btn-like"><i
                                    class="fas fa-heart"></i></button>
                            {% else %}
                            <button type="submit" name="recipepost_id" value="{{recipe.slug}}" class="btn-like"><i
                                    class="far fa-heart"></i></button>
                            {% endif %}
                        </form>
                        {% else %}
                        <span class="text-secondary"><i class="far fa-heart"></i></span>
                        {% endif %}
                        <span class="text-secondary"> {{ recipe.number_of_likes }}</span>
                    </div>
                    <div class="col-1">
                        {% if user.is_authenticated %}
                        <form method="POST" class="d-inline" action="{% url 'favourites' recipe.slug %}">
                            {% csrf_token %}
                            {% if faved %}
                            <button type="submit" name="recipepost_id" value="{{recipe.slug}}" class="btn-fave"><i
                                    class="fas fa-bookmark"></i></button>
                            {% else %}
                            <button type="submit" name="recipepost_id" value="{{recipe.slug}}" class="btn-fave"><i
                                    class="far fa-bookmark"></i></button>
                            {% endif %}
                        </form>
                        {% else %}
                        <span class="text-secondary"><i class="far fa-bookmark"></i></span>
                        {% endif %}
                        <span class="text-secondary"> {{ recipe.number_of_favourites }}</span>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
            <!--End recipe details --------------------------------------------------------->

            <div class="col-md-6 masthead-text padding-sides">
                <div class="col  mb-4  mt-3 left  top">
                    <div class="">
                        <h3 class="subtitle text-center">Ingredients</h3>
                        <p class="post-ingredients card-text">{{ recipe.ingredients | safe }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left top">
            <div class="card-body no-card-mobile">
                <h3 class="subtitle text-center">Directions</h3>
                <p class="card-text ">{{ recipe.directions | safe}}</p>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col card mb-4  mt-3 ">
            <h3 class="subtitle text-center" >Comments</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="subtitle-2">
                        {{ comment.name }}
                        <p class=" text-muted font-weight-normal italic-light">
                            {{ comment.created_on }}
                        </p>
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3 class="subtitle text-center" >Leave a comment</h3>
                <p class="subtitle-2 margin-top-20">Posting as: <span class="italic-light">{{ user.username }}</span></p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark margin-top-20">Submit</button>
                </form>

                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}